name: Build Typst document

on:
  push:
    branches:
      - master

jobs:
  build_typst:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Typst
        uses: typst-community/setup-typst@v4

      - name: Compile Typst
        run: typst compile syllabus.typ syllabus.pdf

      - name: Upload Artifacts
        uses: softprops/action-gh-release@v2
        with:
          files: syllabus.pdf
