name: Deploy to GitHub Pages

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Add wasm target
        run: rustup target add wasm32-unknown-unknown

      # Needed for wasm-opt
      - name: Install binaryen
        uses: sigoden/install-binary@v1
        with:
          repo: WebAssembly/binaryen
          name: wasm-opt

      # Needed to compile the syllabus
      - name: Install typst
        uses: typst-community/setup-typst@v4

      - name: Cache cargo
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/
            ~/.cargo/git/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install Dioxus CLI
        uses: cargo-bins/cargo-binstall@main
      - run: cargo binstall dioxus-cli --no-confirm

      - name: Build
        run: dx build --release

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: target/dx/stuco-rs/release/web/public

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
