name: Build Typst document

on:
  push:
    branches:
      - master
    tags:
      - "*"

jobs:
  build_typst:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Typst
        uses: typst-community/setup-typst@v4

      - name: Compile Typst
        run: typst compile syllabus.typ syllabus.pdf

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: syllabus
          path: syllabus.pdf

      - name: Upload Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: syllabus.pdf
